@media (min-width : 700px){
  #weather-main-icon {font-size:7em!important;}
  #city{font-size: 5em!important;}
}


@media (min-width : 479px){
  #weather-main-icon {font-size:4em!important;}
  #city{font-size: 4em!important;}
}
@media (min-width : 300px){
  /**{border: 1px solid black;}*/
  html{position: relative; min-height: 100%}
  body{
    font-family: 'Oswald', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content{padding-top: 2em; padding-bottom: 1rem;}
  #country{font-size: 3em;}
  #city{font-size: 2em; line-height: 2em; text-align: right;}
  #country, #city{text-shadow: 1px 1px 0 #fff;}
  .temperature, .humidity, .sunset-time, .sunrise-time, #daytime-value{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px 0 #000;
    color: white;
  }
  .pressure-container, .city-container{
    padding:0!important;
    display: flex;
    text-align: center;
  }
  .pressure{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    text-shadow: 2px 2px 0 #000;
    color: white;
    margin: 0 auto;
    padding: 0;
    align-self: flex-end;
  }
  .city-container>div{
    align-self:center;
  }
  #weather-main-icon {
    font-size: 3em;
    padding-top: 0!important;
    text-shadow:
      -2px -2px 3px #fff,
      2px -2px 3px #fff,
      2px 2px 3px #fff,
      -2px +2px 3px #fff;
  }

  #humidity-icon, #barometer-icon, #temp-icon, #sunset-icon, #sunrise-icon, #daytime-icon{
    font-size: 2rem;
    padding-top: 0!important;
    text-shadow:
      -2px -2px 3px #fff,
      2px -2px 3px #fff,
      2px 2px 3px #fff,
      -2px +2px 3px #fff;
  }
  .primary-degree{position: relative; top: -10px;}

  #temperature, #pressureAndHumidity, #sunriseAndSunset {
    padding: 1.6em 0;
  }

  .temperature:hover{
    cursor: pointer;
  }

  .secondary-degree{
    font-weight: bold;
    position:relative;
    bottom: -10px;
    left: -0.5em;
    opacity: 0.3;
  }

  #loadingMessage{
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    color: black;
    background-color: white;
    text-align: center;
    padding: 30% 45% 30% 45%;
    margin:auto;
  }

  .copyright {
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  background-color: #000;
  color: white;
  }
  .dcmf-logo{height: 20px;}

}
